// app global css
xprotocol-font-family = HelveticaNeueW01-45Ligh,HelveticaNeueW02-45Ligh,HelveticaNeueW10-45Ligh,sans-serif;
xprotocol-font-color = #d6e5ff
lightblue-btn-color = #31ccec
blue-btn-color = #027be3
green-btn-color= #21ba45


a.link-with-bg {
    color: #d5d9e0;
    text-decoration: none;
    font-size: 1.0em;
}

a.link-wo-bg {
    color: white;
    border-radius: 5px;
    border: 3px solid green-btn-color;
    background-color: green-btn-color;
    text-decoration: none;
    padding: 6px 6px 6px 6px;
    font-family: xprotocol-font-family;
}

a.form-link-with-bg {
    color: white;
    border-radius: 5px;
    border: 3px solid lightblue-btn-color;
    background-color: lightblue-btn-color;
    text-decoration: none;
    padding: 6px 6px 6px 6px;
    font-family: Arial, xprotocol-font-family;
}

a.form-link-wo-bg {
    color: lightblue-btn-color;
    text-decoration: none;
    padding: 6px 6px 6px 6px;
    font-family: Arial, xprotocol-font-family;
}

.toolbar-title{
    font-weight: 500;
    font-size: 1em;
    padding: 4px 16px 4px 4px;
}

.toolbar-subtitle{
    font-size: .75 em;
    font-weight: 500;
}

a.qtable-item-link{
    text-decoration: none;
    color: xprotocol-font-color;
    font-family: xprotocol-font-family;   
}

a.qtable-item-link:hover {
    color: green-btn-color;
}

a.big-icon-link {
    font-family: Arial,HelveticaNeueW02-45Ligh;
    font-size: 1.5em;
    font-weight: 900;
    color: green-btn-color
}

a.big-icon-link:hover {
    color: lightblue-btn-color
}

.q-table-title{
    font-size: 2.0em;
    font-family: Helvetica, Arial, Verdana;
    padding: 5px 0px 5px 0px;
    margin-left: 20px;
}

.q-table {
    color: xprotocol-font-color;
}

table.q-table th  {
    color: lightgreen;
}

span.q-table-bottom-item {
    color: lightgreen;
}

.q-input-shadow, .q-input-target {
    color: xprotocol-font-color;
}

.q-field-label {
    color: lightblue;
}

.form-row {
    margin-bottom: 8px;
}

@media screen and (min-width: 834px){
    .q-toolbar {
        height: 80px;
    }
}

    
a.search-link {
    text-decoration: none;
    color: #d5d9e0;

}

a.search-link:hover{
    color: #21ba45;
}

.q-item-side {
    color: #d5d9e0;
}

.q-item-label {
    color: #c2efe2;
}

.q-field-label-inner {
    color: #90EE90;
}

.q-field-helper {
    color: #d6ffe6;
}

/* These pieces of code remove the X direction scrollbar at mobile display */
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.q-field-counter  {
    color: #d5d9e0 ;
}

.q-icon {
    color: #d5d9e0 !important;
}

.q-item-sublabel {
    color: #d5d9e0 ;
}