// app global css
xprotocol-font-family = HelveticaNeueW01-45Ligh,HelveticaNeueW02-45Ligh,HelveticaNeueW10-45Ligh,sans-serif;
xprotocol-font-color = #363636
blue-btn-color = #31ccec
green-btn-color= #21ba45


a.link-with-bg {
    color: white;
    text-decoration: none;
}

a.link-wo-bg {
    color: white;
    border-radius: 5px;
    border: 3px solid green-btn-color;
    background-color: green-btn-color;
    text-decoration: none;
    padding: 6px 6px 6px 6px;
    font-family: xprotocol-font-family;
}

a.form-link-with-bg {
    color: white;
    border-radius: 5px;
    border: 3px solid blue-btn-color;
    background-color: blue-btn-color;
    text-decoration: none;
    padding: 6px 6px 6px 6px;
    font-family: Arial, xprotocol-font-family;
}

a.form-link-wo-bg {
    color: blue-btn-color;
    text-decoration: none;
    padding: 6px 6px 6px 6px;
    font-family: Arial, xprotocol-font-family;
}

.toolbar-title{
    font-weight: 500;
    font-size: 1em;
    padding: 4px 16px 4px 4px;
}

.toolbar-subtitle{
    font-size: .75 em;
    font-weight: 500;
}

a.qtable-item-link{
    text-decoration: none;
    color: xprotocol-font-color;
    font-family: xprotocol-font-family;   
}

a.qtable-item-link:hover {
    color: green-btn-color;
    font-weight: bold;
}

a.big-icon-link {
    font-family: Arial,HelveticaNeueW02-45Ligh;
    font-size: 1.5em;
    font-weight: 900;
    color: green-btn-color
}

a.big-icon-link:hover {
    color: blue-btn-color
}

.q-table-title{
    font-size: 2.0vw;
    font-family: Helvetica, Arial, Verdana;
    padding: 5px 0px 5px 0px;
    margin-left: 20px;
}