// app global css



a.link-with-bg {
    color: white;
    text-decoration: none;
}

.toolbar-title{
    font-weight: 500;
    font-size: 1em;
    padding: 4px 16px 4px 4px;
}

.toolbar-subtitle{
    font-size: .75 em;
    font-weight: 500;
}